.mat-flat-button.mat-primary, .mat-stroked-button.mat-primary, .mat-raised-button.mat-primary, .mat-button-base.mat-primary {
    background-color: #FF8008!important;
    color: #fff; /* Defina a cor do texto conforme necessário para contrastar com o plano de fundo */
} 

.mat-flat-button.mat-primary:hover, .mat-stroked-button.mat-primary:hover, .mat-raised-button.mat-primary:hover, .mat-button-base.mat-primary:hover {
    background-color: red;
}